01.HH.RMS/HH.RMS.WebForm/Service References/Register/Webservice_Occitane2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://loccitanewechat.abc-myclub.com/Webservice_Occitane.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Accentiv.Spark.WebSite.MemberWebsite" />
  <xs:element name="GetAccessTokenService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Accentiv.Spark.WebSite.MemberWebsite" minOccurs="0" name="request" nillable="true" type="q1:TokenRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccessTokenServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Accentiv.Spark.WebSite.MemberWebsite" minOccurs="0" name="GetAccessTokenServiceResult" nillable="true" type="q2:TokenResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Accentiv.Spark.WebSite.MemberWebsite" minOccurs="0" name="request" nillable="true" type="q3:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Accentiv.Spark.WebSite.MemberWebsite" minOccurs="0" name="GetMemberInfoResult" nillable="true" type="q4:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberInfoByOpenId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Accentiv.Spark.WebSite.MemberWebsite" minOccurs="0" name="request" nillable="true" type="q5:RequestByOpenId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberInfoByOpenIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Accentiv.Spark.WebSite.MemberWebsite" minOccurs="0" name="GetMemberInfoByOpenIdResult" nillable="true" type="q6:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Accentiv.Spark.WebSite.MemberWebsite" minOccurs="0" name="registerRequest" nillable="true" type="q7:RegisterRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Accentiv.Spark.WebSite.MemberWebsite" minOccurs="0" name="RegisterServiceResult" nillable="true" type="q8:RegisterResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>