01.HH.RMS/HH.RMS.WebForm/Service References/Register/Webservice_Occitane4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Accentiv.Spark.WebSite.MemberWebsite.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Accentiv.Spark.WebSite.MemberWebsite.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RegisterUserInfoModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="birthDay" type="xs:int" />
      <xs:element minOccurs="0" name="birthMonth" type="xs:int" />
      <xs:element minOccurs="0" name="birthYear" type="xs:int" />
      <xs:element minOccurs="0" name="channelCode" type="xs:int" />
      <xs:element minOccurs="0" name="cityId" type="xs:long" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gender" type="xs:int" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="openId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="provinceId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterUserInfoModel" nillable="true" type="tns:RegisterUserInfoModel" />
</xs:schema>